var template = { generate: "templates.page",
  data: { head: '',
          body: { generate: "templates.concatUIE",
              data: [
                  {
                    "html": "\n    <h1>FlickrPickr</h1>\n    ",
                    "js": "",
                    "css": ""
                  },
                  {
                    "generate": "flickrpickr.uielements.flicksearchbar",
                    "data": {
                      "galleryID": "myflickgallery",
                      "searchID": "myflicksearch",
                      "buttonText": "Hit the backend!"
                    }
                  },
                  {
                    "generate": "flickrpickr.uielements.flickgallery",
                    "data": {
                      "galleryID": "myflickgallery"
                    }
                  },
                  {
                    generate: "crud.uielements.create",
                    data: { fields: [['name', 'text'],
                                    ['url', 'text']],
                            id: 'testform',
                            redirect: 'https://www.google.com/' }
                  }
                ]
          }
  }
}
