<div class="container">
  <h1>Appcubator Plugins (cube)</h1>
  <p class="lead" >Welcome to the Appcubator Plugin repository. Explore, discover and contribute to Appcubator! To get started search for a plugin or open the <a href="#" class="startPluginEditorButton"> plugin editor. </a></p>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-8">
        <input id='repoSearchInput' class="form-control input-lg " type="text" placeholder="Search by description..."> 
        </input>
    </div>

    <div class="col-md-1">
        <h3 class='lead'> or <h3>
    </div>  

    <div class="col-md-3">
        <span>
            <button class='btn btn-lg btn-default startPluginEditorButton'> Plugin Editor </button> 
        </span>
    </div>
     
  </div>
</div>
