<div class="container">
  <div class='row'>
    <div class='col-md-6'>
      <div class='brand'>Appcubator <small> CUBE </small> </div>
    </div>
    <div class='col-md-6'>
    <img id='coolImage'src='http://bit.ly/1eWmdak'> </img>
    </div>
  </div>
  <hr>
  <p class="lead" >Welcome to the Appcubator Plugin repository. Explore, discover and contribute to Appcubator! To get started search for a plugin or open the <a href="#" class="startPluginEditorButton"> plugin editor. </a></p>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-8">
        <input id='repoSearchInput' class="form-control input-lg " type="text" placeholder="Search by description..."> 
        </input>
    </div>

    <div class="col-md-1">
        <h3 class='lead'> or <h3>
    </div>  

    <div class="col-md-3">
        <span>
            <button class='btn btn-lg btn-default startPluginEditorButton'> Plugin Editor </button> 
        </span>
    </div>
     
  </div>
</div>
